<html>
    <head></head>
    <body>{% extends "layout.html" %}
    <h1>Admin Page</h1>
    {% block content %}
        {% for user in users %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ user.username }}</a>
                  <a class="mr-2">{{ user.email }}</a>
                  <a class="mr-2">{{ user.password }}</a>
                </div>
            </article>
        {% endfor %}
    {% endblock content %}
    </body>
</html>